// Color Variables

// Base
$colorBlack: #161B1E;
$colorGrey: #636869 ;
$colorWhite: #FFFFFF;
$colorGold: gold;

// Icy.tools
$colorTurqoise: #00CEFF ;
$colorBlue: #0075FF;

// Company
$colorTwitterBlue: #08A0E9;
